@model CarRentalManagement.Models.Car

<div class="card shadow-lg p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>@Model.CarName (@Model.CarModel)</h2>
        <a asp-action="Index" class="btn btn-outline-secondary">Back to Cars</a>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <img src="@Model.ImageUrl"
                 alt="@Model.CarName"
                 style="width:100%; height:300px; object-fit:cover; border-radius:8px;"
                 onerror="this.src='/images/car/default.png'" />
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><strong>Transmission:</strong> @Model.Transmission</li>
                <li class="list-group-item"><strong>Seats:</strong> @Model.SeatingCapacity</li>
                <li class="list-group-item"><strong>Fuel:</strong> @Model.FuelType</li>
                <li class="list-group-item"><strong>Price/Day:</strong> @Model.PricePerDay.ToString("C")</li>
            </ul>
            </div>

            <div class="mt-3 ">

                <a asp-controller="Bookings" asp-action="Create" asp-route-id="@Model.CarID"
                   class="btn btn-primary btn-sm">
                    Book Now
                </a>
            </div>
           
        </div>
    </div>
</div>