@model IEnumerable<CarRentalManagement.Models.Car>

@{
    ViewData["Title"] = "Available Cars";
}

<h2 class="mb-4">Available Cars</h2>
<div class="row g-4">
    @foreach (var car in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="card shadow-lg">
                <img src="@car.ImageUrl"
                     alt="@car.CarName"
                     style="width:300px; height:200px; object-fit:cover; margin:auto; border-radius:8px;"
                     onerror="this.src='/images/car/default.png'" />

                <div class="card-body">
                    <h5 class="card-title">@car.CarName (@car.CarModel)</h5>
                    <ul class="list-unstyled">
                        <li>Transmission: @car.Transmission</li>
                        <li>Seats: @car.SeatingCapacity</li>
                        <li>Fuel: @car.FuelType</li>
                    </ul>
                    <p class="fw-bold text-warning">Price/Day: @car.PricePerDay.ToString("C")</p>
                    @if (car.IsAvailable)
                    {
                        <span class="badge bg-success">Available</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Booked</span>
                    }
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <a asp-controller="CustomerProfile" asp-action="Details" asp-route-id="@car.CarID"
                       class="btn btn-primary btn-sm">View </a>

                    <a asp-controller="Bookings" asp-action="Create" asp-route-carId="@car.CarID"
                       class="btn btn-success btn-sm">Book Now</a>
                </div>
            </div>
        </div>
    }
</div>
